{% block context%}

{
  "plans":[
        {
            "name":"Starter",
            "Price":"Free",
            "class":"success",
            "features":[1]
        },
        {
            "name":"Basic",
            "Price":"$10 /Month",
            "class":"danger",
            "features":[1,2]
        },
        {
            "name":"Enterprise",
            "Price":"$20 /Month",
            "class":"danger",
            "features":[1,2,3]
        }
    ],
   "features":["Features #1","Features #2","Features #3"]
}

{% endblock%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Avaliable Pricing Plans</h2>
        </div>
    </div>
     <div class="row">
         {% for plan in plans%}
        <div class="col-md-4">
            <div class="panel pane-{{ plan.class }}">
                <div class="panel-heading">
                    <h4 class="text-center">{{ plan.name}} -{{ plan.Price}}</h4>
                </div>
                <ul class="list-group list-group-flush text-center">
                    {% for feature in features%}
                    <li class="list-group item">{{ feature }}</li>
                    {% endfor %}
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-{{ plan.class}}" href="#">Buy Now</a>
                </div>
            </div>
        </div>
         {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{% lorem %}</p>
        </div>
    </div>
</div>
